a {
    text-decoration: none;
    color: #fff;
}

.sm-container {
    background-color: #F2C94C;
}

.sm-text {
    max-width: 417px;
    margin: 0 auto;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #000;
    padding-top: 47px;
}

.sm-row {
    margin: 0 auto;
    padding: 32px 0 73px 0;
    max-width: 681px;
}

.sm-img {
    margin: 0 auto;
}

.footer-container {
    background-color: #333;
}

.footer-row {
    max-width: 1170px;
    max-height: 380px;
    height: 100%;
    margin: 0 auto;
    padding: 121px 0 121px 0;
}

.footer-header {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    margin-bottom: 25px;
}


.footer-text {
    font-family: Roboto, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #fff;
    margin-bottom: 16px;
}

.footer-text a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer-text a:active {
    color: #b7b7b7;
}

.footer-text-custom {
    margin-bottom: 13px;
}

.logo {
    font-family: Roboto, serif;
    margin: 18px 0 17px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #F2C94C;
}

.logo-custom {
    margin: 0 0 19px 0;
    text-align: left;
}