header {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

section {
    background: #fff;
}

a {
    font-family: Roboto sans-serif;
    text-decoration: none;
    color: #fff;
}

h4 {
    font-family: Roboto sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}

.card img {
    width: 100%;
    height: auto;
}

.logo {
    font-family: Roboto, sans-serif;
    margin: 18px 0 17px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #F2C94C;
}

.nav {
    margin: 21px 0 21px 53px;
}

.nav-link {
    padding-top: 0;
    padding-bottom: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.nav-link:last-child {
    margin-right: 0;
}

.header-btn{
    padding: 0.75rem 5rem;
    max-height: 40px;
    margin: 12px 61px 12px 0;
}

.header-links:first-child {
    margin-left: 53px;
}

.home-section {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 787px;
    margin-top: 371px;
    z-index: 100;
}

.home-page-btn {
    max-width: 280px;
    padding: 21px 0 21px 0;
    text-align: center;
    font-family: Roboto sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin: 32px auto 0 auto;
    color: #000000;
}

.home-text {
    margin: 64px auto 0 auto;
    max-width: 440px;
    height: content-box;
    font-family: Roboto sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.home-header {
    margin: 0 auto;
    max-width: 787px;
    font-family: Roboto sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 52px;
    text-align: center;
    color: #FFFFFF;
}

.btn-text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}

.home-page-bg {
    background: no-repeat url("/moto-shop-layout/src/img/image4.jpg");
    background-size: cover;
    filter: brightness(46%);
    height: 1041px;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.wrapper {
    position: relative;
}

.presentation-section {
    max-width: 1170px;
    margin: 0 auto;
}

.presentation-header {
    margin: 70px auto 0 auto;
}

.presentation-text {
    max-width: 800px;
    height: content-box;
    font-family: Roboto sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #000;
    margin: 25px auto 0 auto;
}

.custom-card {
    border: none;
    height: 502px;
}

.card-img-custom {
    margin: 37px 0 37px 0;
    height: 370px;
    vertical-align: middle;
}

@media(max-width: 768px) {
    .card-img-custom {
        margin: 0;
    }
}

.custom-link {
    font-family: Roboto sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #000000;
}

.custom-link:hover {
    color: #C4C4C4;
}

.custom-row {
    flex-direction: column;
}

.card-text-custom {
    font-family: Roboto sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}

.feature-header {
    padding: 143px 0 0 101px;
    font-family: Roboto sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}

.feature-text {
    margin-left: 104px;
    margin-right: 46px;
    max-width: 100%;
    max-height: 100%;
    font-family: Roboto sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}

.feature-img-container {
    margin-top: 120px;
}

.feature-img {
    border-radius: 10px;
}

.sm-container {
    margin-top: 120px;
    background-color: #F2C94C;
}

.sm-text {
    max-width: 417px;
    margin: 0 auto;
    font-family: Roboto sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #000000;
    padding-top: 47px;
}

.sm-row {
    margin: 0 auto;
    padding: 32px 0 73px 0;
    max-width: 681px;
}

.sm-img {
    margin: 0 auto;
}

.footer-container {
    background-color: #333;
}

.footer-row {
    max-width: 1170px;
    max-height: 380px;
    height: 100%;
    margin: 0 auto;
    padding: 121px 0 121px 0;
}

.footer-header {
    font-family: Roboto sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    margin-bottom: 25px;
}


.footer-text {
    font-family: Roboto sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #fff;
    margin-bottom: 16px;
}

.footer-text-custom {
    margin-bottom: 13px;
}

.logo-custom {
    margin: 0 0 19px 0;
    text-align: left;
}

